<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.information.five.mapper.SchemesMapper">
  <resultMap id="BaseResultMap" type="com.information.five.model.Schemes">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="SJMCID" jdbcType="BIGINT" property="sjmcid" />
    <result column="TX" jdbcType="VARCHAR" property="tx" />
    <result column="ZJMC" jdbcType="VARCHAR" property="zjmc" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="selnum" jdbcType="INTEGER" property="selnum" />
    <result column="Dvalue" jdbcType="INTEGER" property="dvalue" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, SJMCID, TX, ZJMC, num, selnum, Dvalue, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from schemes
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="querySchemesBySjmcid" resultType="com.information.five.model.Schemes">
      select <include refid="Base_Column_List"/> from schemes
      where SJMCID = #{sjmcid}

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from schemes
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.information.five.model.Schemes" useGeneratedKeys="true">
    insert into schemes (SJMCID, TX, ZJMC, 
      num, selnum, Dvalue, 
      created_at, updated_at)
    values (#{sjmcid,jdbcType=BIGINT}, #{tx,jdbcType=VARCHAR}, #{zjmc,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{selnum,jdbcType=INTEGER}, #{dvalue,jdbcType=INTEGER}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.information.five.model.Schemes" useGeneratedKeys="true">
    insert into schemes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sjmcid != null">
        SJMCID,
      </if>
      <if test="tx != null">
        TX,
      </if>
      <if test="zjmc != null">
        ZJMC,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="selnum != null">
        selnum,
      </if>
      <if test="dvalue != null">
        Dvalue,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sjmcid != null">
        #{sjmcid,jdbcType=BIGINT},
      </if>
      <if test="tx != null">
        #{tx,jdbcType=VARCHAR},
      </if>
      <if test="zjmc != null">
        #{zjmc,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="selnum != null">
        #{selnum,jdbcType=INTEGER},
      </if>
      <if test="dvalue != null">
        #{dvalue,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.information.five.model.Schemes">
    update schemes
    <set>
      <if test="sjmcid != null">
        SJMCID = #{sjmcid,jdbcType=BIGINT},
      </if>
      <if test="tx != null">
        TX = #{tx,jdbcType=VARCHAR},
      </if>
      <if test="zjmc != null">
        ZJMC = #{zjmc,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="selnum != null">
        selnum = #{selnum,jdbcType=INTEGER},
      </if>
      <if test="dvalue != null">
        Dvalue = #{dvalue,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.information.five.model.Schemes">
    update schemes
    set SJMCID = #{sjmcid,jdbcType=BIGINT},
      TX = #{tx,jdbcType=VARCHAR},
      ZJMC = #{zjmc,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      selnum = #{selnum,jdbcType=INTEGER},
      Dvalue = #{dvalue,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>