<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.information.five.mapper.YhpcJcbxxinfoMapper">
  <resultMap id="BaseResultMap" type="com.information.five.model.YhpcJcbxxinfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="JCBID" jdbcType="BIGINT" property="jcbid" />
    <result column="JCXM" jdbcType="VARCHAR" property="jcxm" />
    <result column="JCNR" jdbcType="VARCHAR" property="jcnr" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, JCBID, JCXM, JCNR, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yhpc_jcbxxinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="queryJcbxxByJcbid" resultType="com.information.five.model.YhpcJcbxxinfo">

      select <include refid="Base_Column_List"></include>
      from yhpc_jcbxxinfo
      where jcbid = #{jcbid}

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yhpc_jcbxxinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.information.five.model.YhpcJcbxxinfo" useGeneratedKeys="true">
    insert into yhpc_jcbxxinfo (JCBID, JCXM, JCNR, 
      created_at, updated_at)
    values (#{jcbid,jdbcType=BIGINT}, #{jcxm,jdbcType=VARCHAR}, #{jcnr,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.information.five.model.YhpcJcbxxinfo" useGeneratedKeys="true">
    insert into yhpc_jcbxxinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jcbid != null">
        JCBID,
      </if>
      <if test="jcxm != null">
        JCXM,
      </if>
      <if test="jcnr != null">
        JCNR,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jcbid != null">
        #{jcbid,jdbcType=BIGINT},
      </if>
      <if test="jcxm != null">
        #{jcxm,jdbcType=VARCHAR},
      </if>
      <if test="jcnr != null">
        #{jcnr,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertYhpcJcbxxinfo">

    insert into yhpc_jcbxxinfo (JCBID, JCXM, JCNR, created_at)
    values
    <foreach collection="jcbxx" item="jc" index="index" separator=",">
    (
    #{jc.jcbid},#{jc.jcxm},#{jc.jcnr},#{jc.created_at}
      )
    </foreach>

  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.information.five.model.YhpcJcbxxinfo">
    update yhpc_jcbxxinfo
    <set>
      <if test="jcbid != null">
        JCBID = #{jcbid,jdbcType=BIGINT},
      </if>
      <if test="jcxm != null">
        JCXM = #{jcxm,jdbcType=VARCHAR},
      </if>
      <if test="jcnr != null">
        JCNR = #{jcnr,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.information.five.model.YhpcJcbxxinfo">
    update yhpc_jcbxxinfo
    set JCBID = #{jcbid,jdbcType=BIGINT},
      JCXM = #{jcxm,jdbcType=VARCHAR},
      JCNR = #{jcnr,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>