<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.information.five.mapper.ZyaqSxkjzinfoMapper">
  <resultMap id="BaseResultMap" type="com.information.five.model.ZyaqSxkjzinfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ZYZBH" jdbcType="VARCHAR" property="zyzbh" />
    <result column="SQRQ" jdbcType="VARCHAR" property="sqrq" />
    <result column="SXKJMC" jdbcType="VARCHAR" property="sxkjmc" />
    <result column="SXKJZYJZ" jdbcType="VARCHAR" property="sxkjzyjz" />
    <result column="ZYBM" jdbcType="VARCHAR" property="zybm" />
    <result column="ZYFZR" jdbcType="VARCHAR" property="zyfzr" />
    <result column="JHX" jdbcType="INTEGER" property="jhx" />
    <result column="SQBM" jdbcType="VARCHAR" property="sqbm" />
    <result column="SQR" jdbcType="VARCHAR" property="sqr" />
    <result column="AQJHR" jdbcType="VARCHAR" property="aqjhr" />
    <result column="QRR" jdbcType="VARCHAR" property="qrr" />
    <result column="SXKJFXR" jdbcType="VARCHAR" property="sxkjfxr" />
    <result column="SGXM" jdbcType="VARCHAR" property="sgxm" />
    <result column="DYQK" jdbcType="VARCHAR" property="dyqk" />
    <result column="ZYNR" jdbcType="VARCHAR" property="zynr" />
    <result column="SJQTZYZ" jdbcType="VARCHAR" property="sjqtzyz" />
    <result column="JHR" jdbcType="VARCHAR" property="jhr" />
    <result column="JHRGW" jdbcType="VARCHAR" property="jhrgw" />
    <result column="ZYQX" jdbcType="VARCHAR" property="zyqx" />
    <result column="WHBS" jdbcType="VARCHAR" property="whbs" />
    <result column="AQCS" jdbcType="VARCHAR" property="aqcs" />
    <result column="SSQK" jdbcType="VARCHAR" property="ssqk" />
    <result column="JHQK" jdbcType="VARCHAR" property="jhqk" />
    <result column="SHZT" jdbcType="INTEGER" property="shzt" />
    <result column="JDMC" jdbcType="VARCHAR" property="jdmc" />
    <result column="RYID" jdbcType="INTEGER" property="ryid" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ZYZBH, SQRQ, SXKJMC, SXKJZYJZ, ZYBM, ZYFZR, JHX, SQBM, SQR, AQJHR, QRR, SXKJFXR, 
    SGXM, DYQK, ZYNR, SJQTZYZ, JHR, JHRGW, ZYQX, WHBS, AQCS, SSQK, JHQK, SHZT, JDMC, 
    RYID, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zyaq_sxkjzinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryAll" resultType="com.information.five.model.ZyaqSxkjzinfo">
    select <include refid="Base_Column_List"></include>
    from zyaq_sxkjzinfo
    order by sqrq desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zyaq_sxkjzinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.information.five.model.ZyaqSxkjzinfo" useGeneratedKeys="true">
    insert into zyaq_sxkjzinfo (ZYZBH, SQRQ, SXKJMC, 
      SXKJZYJZ, ZYBM, ZYFZR, 
      JHX, SQBM, SQR, AQJHR, 
      QRR, SXKJFXR, SGXM, 
      DYQK, ZYNR, SJQTZYZ, 
      JHR, JHRGW, ZYQX, WHBS, 
      AQCS, SSQK, JHQK, SHZT, 
      JDMC, RYID, created_at, 
      updated_at)
    values (#{zyzbh,jdbcType=VARCHAR}, #{sqrq,jdbcType=VARCHAR}, #{sxkjmc,jdbcType=VARCHAR}, 
      #{sxkjzyjz,jdbcType=VARCHAR}, #{zybm,jdbcType=VARCHAR}, #{zyfzr,jdbcType=VARCHAR}, 
      #{jhx,jdbcType=INTEGER}, #{sqbm,jdbcType=VARCHAR}, #{sqr,jdbcType=VARCHAR}, #{aqjhr,jdbcType=VARCHAR}, 
      #{qrr,jdbcType=VARCHAR}, #{sxkjfxr,jdbcType=VARCHAR}, #{sgxm,jdbcType=VARCHAR}, 
      #{dyqk,jdbcType=VARCHAR}, #{zynr,jdbcType=VARCHAR}, #{sjqtzyz,jdbcType=VARCHAR}, 
      #{jhr,jdbcType=VARCHAR}, #{jhrgw,jdbcType=VARCHAR}, #{zyqx,jdbcType=VARCHAR}, #{whbs,jdbcType=VARCHAR}, 
      #{aqcs,jdbcType=VARCHAR}, #{ssqk,jdbcType=VARCHAR}, #{jhqk,jdbcType=VARCHAR}, #{shzt,jdbcType=INTEGER}, 
      #{jdmc,jdbcType=VARCHAR}, #{ryid,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.information.five.model.ZyaqSxkjzinfo" useGeneratedKeys="true">
    insert into zyaq_sxkjzinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zyzbh != null">
        ZYZBH,
      </if>
      <if test="sqrq != null">
        SQRQ,
      </if>
      <if test="sxkjmc != null">
        SXKJMC,
      </if>
      <if test="sxkjzyjz != null">
        SXKJZYJZ,
      </if>
      <if test="zybm != null">
        ZYBM,
      </if>
      <if test="zyfzr != null">
        ZYFZR,
      </if>
      <if test="jhx != null">
        JHX,
      </if>
      <if test="sqbm != null">
        SQBM,
      </if>
      <if test="sqr != null">
        SQR,
      </if>
      <if test="aqjhr != null">
        AQJHR,
      </if>
      <if test="qrr != null">
        QRR,
      </if>
      <if test="sxkjfxr != null">
        SXKJFXR,
      </if>
      <if test="sgxm != null">
        SGXM,
      </if>
      <if test="dyqk != null">
        DYQK,
      </if>
      <if test="zynr != null">
        ZYNR,
      </if>
      <if test="sjqtzyz != null">
        SJQTZYZ,
      </if>
      <if test="jhr != null">
        JHR,
      </if>
      <if test="jhrgw != null">
        JHRGW,
      </if>
      <if test="zyqx != null">
        ZYQX,
      </if>
      <if test="whbs != null">
        WHBS,
      </if>
      <if test="aqcs != null">
        AQCS,
      </if>
      <if test="ssqk != null">
        SSQK,
      </if>
      <if test="jhqk != null">
        JHQK,
      </if>
      <if test="shzt != null">
        SHZT,
      </if>
      <if test="jdmc != null">
        JDMC,
      </if>
      <if test="ryid != null">
        RYID,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zyzbh != null">
        #{zyzbh,jdbcType=VARCHAR},
      </if>
      <if test="sqrq != null">
        #{sqrq,jdbcType=VARCHAR},
      </if>
      <if test="sxkjmc != null">
        #{sxkjmc,jdbcType=VARCHAR},
      </if>
      <if test="sxkjzyjz != null">
        #{sxkjzyjz,jdbcType=VARCHAR},
      </if>
      <if test="zybm != null">
        #{zybm,jdbcType=VARCHAR},
      </if>
      <if test="zyfzr != null">
        #{zyfzr,jdbcType=VARCHAR},
      </if>
      <if test="jhx != null">
        #{jhx,jdbcType=INTEGER},
      </if>
      <if test="sqbm != null">
        #{sqbm,jdbcType=VARCHAR},
      </if>
      <if test="sqr != null">
        #{sqr,jdbcType=VARCHAR},
      </if>
      <if test="aqjhr != null">
        #{aqjhr,jdbcType=VARCHAR},
      </if>
      <if test="qrr != null">
        #{qrr,jdbcType=VARCHAR},
      </if>
      <if test="sxkjfxr != null">
        #{sxkjfxr,jdbcType=VARCHAR},
      </if>
      <if test="sgxm != null">
        #{sgxm,jdbcType=VARCHAR},
      </if>
      <if test="dyqk != null">
        #{dyqk,jdbcType=VARCHAR},
      </if>
      <if test="zynr != null">
        #{zynr,jdbcType=VARCHAR},
      </if>
      <if test="sjqtzyz != null">
        #{sjqtzyz,jdbcType=VARCHAR},
      </if>
      <if test="jhr != null">
        #{jhr,jdbcType=VARCHAR},
      </if>
      <if test="jhrgw != null">
        #{jhrgw,jdbcType=VARCHAR},
      </if>
      <if test="zyqx != null">
        #{zyqx,jdbcType=VARCHAR},
      </if>
      <if test="whbs != null">
        #{whbs,jdbcType=VARCHAR},
      </if>
      <if test="aqcs != null">
        #{aqcs,jdbcType=VARCHAR},
      </if>
      <if test="ssqk != null">
        #{ssqk,jdbcType=VARCHAR},
      </if>
      <if test="jhqk != null">
        #{jhqk,jdbcType=VARCHAR},
      </if>
      <if test="shzt != null">
        #{shzt,jdbcType=INTEGER},
      </if>
      <if test="jdmc != null">
        #{jdmc,jdbcType=VARCHAR},
      </if>
      <if test="ryid != null">
        #{ryid,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.information.five.model.ZyaqSxkjzinfo">
    update zyaq_sxkjzinfo
    <set>
      <if test="zyzbh != null">
        ZYZBH = #{zyzbh,jdbcType=VARCHAR},
      </if>
      <if test="sqrq != null">
        SQRQ = #{sqrq,jdbcType=VARCHAR},
      </if>
      <if test="sxkjmc != null">
        SXKJMC = #{sxkjmc,jdbcType=VARCHAR},
      </if>
      <if test="sxkjzyjz != null">
        SXKJZYJZ = #{sxkjzyjz,jdbcType=VARCHAR},
      </if>
      <if test="zybm != null">
        ZYBM = #{zybm,jdbcType=VARCHAR},
      </if>
      <if test="zyfzr != null">
        ZYFZR = #{zyfzr,jdbcType=VARCHAR},
      </if>
      <if test="jhx != null">
        JHX = #{jhx,jdbcType=INTEGER},
      </if>
      <if test="sqbm != null">
        SQBM = #{sqbm,jdbcType=VARCHAR},
      </if>
      <if test="sqr != null">
        SQR = #{sqr,jdbcType=VARCHAR},
      </if>
      <if test="aqjhr != null">
        AQJHR = #{aqjhr,jdbcType=VARCHAR},
      </if>
      <if test="qrr != null">
        QRR = #{qrr,jdbcType=VARCHAR},
      </if>
      <if test="sxkjfxr != null">
        SXKJFXR = #{sxkjfxr,jdbcType=VARCHAR},
      </if>
      <if test="sgxm != null">
        SGXM = #{sgxm,jdbcType=VARCHAR},
      </if>
      <if test="dyqk != null">
        DYQK = #{dyqk,jdbcType=VARCHAR},
      </if>
      <if test="zynr != null">
        ZYNR = #{zynr,jdbcType=VARCHAR},
      </if>
      <if test="sjqtzyz != null">
        SJQTZYZ = #{sjqtzyz,jdbcType=VARCHAR},
      </if>
      <if test="jhr != null">
        JHR = #{jhr,jdbcType=VARCHAR},
      </if>
      <if test="jhrgw != null">
        JHRGW = #{jhrgw,jdbcType=VARCHAR},
      </if>
      <if test="zyqx != null">
        ZYQX = #{zyqx,jdbcType=VARCHAR},
      </if>
      <if test="whbs != null">
        WHBS = #{whbs,jdbcType=VARCHAR},
      </if>
      <if test="aqcs != null">
        AQCS = #{aqcs,jdbcType=VARCHAR},
      </if>
      <if test="ssqk != null">
        SSQK = #{ssqk,jdbcType=VARCHAR},
      </if>
      <if test="jhqk != null">
        JHQK = #{jhqk,jdbcType=VARCHAR},
      </if>
      <if test="shzt != null">
        SHZT = #{shzt,jdbcType=INTEGER},
      </if>
      <if test="jdmc != null">
        JDMC = #{jdmc,jdbcType=VARCHAR},
      </if>
      <if test="ryid != null">
        RYID = #{ryid,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.information.five.model.ZyaqSxkjzinfo">
    update zyaq_sxkjzinfo
    set ZYZBH = #{zyzbh,jdbcType=VARCHAR},
      SQRQ = #{sqrq,jdbcType=VARCHAR},
      SXKJMC = #{sxkjmc,jdbcType=VARCHAR},
      SXKJZYJZ = #{sxkjzyjz,jdbcType=VARCHAR},
      ZYBM = #{zybm,jdbcType=VARCHAR},
      ZYFZR = #{zyfzr,jdbcType=VARCHAR},
      JHX = #{jhx,jdbcType=INTEGER},
      SQBM = #{sqbm,jdbcType=VARCHAR},
      SQR = #{sqr,jdbcType=VARCHAR},
      AQJHR = #{aqjhr,jdbcType=VARCHAR},
      QRR = #{qrr,jdbcType=VARCHAR},
      SXKJFXR = #{sxkjfxr,jdbcType=VARCHAR},
      SGXM = #{sgxm,jdbcType=VARCHAR},
      DYQK = #{dyqk,jdbcType=VARCHAR},
      ZYNR = #{zynr,jdbcType=VARCHAR},
      SJQTZYZ = #{sjqtzyz,jdbcType=VARCHAR},
      JHR = #{jhr,jdbcType=VARCHAR},
      JHRGW = #{jhrgw,jdbcType=VARCHAR},
      ZYQX = #{zyqx,jdbcType=VARCHAR},
      WHBS = #{whbs,jdbcType=VARCHAR},
      AQCS = #{aqcs,jdbcType=VARCHAR},
      SSQK = #{ssqk,jdbcType=VARCHAR},
      JHQK = #{jhqk,jdbcType=VARCHAR},
      SHZT = #{shzt,jdbcType=INTEGER},
      JDMC = #{jdmc,jdbcType=VARCHAR},
      RYID = #{ryid,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>